@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

body {
    background-color: #EACDC2;
}

#header-text {
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
    line-height: 30px;
    letter-spacing: 5px;
    font-weight: 500;
}

#header-text :hover {
    text-align: center;
    font-size: 2rem;
    line-height: 30px;
    letter-spacing: 5px;
}

#footer-box {
    display: flex;
    justify-content: end;
    width: 100%;
}

#footer-box a {
    text-decoration: none;
    color: #B75D69;
}

#footer-box #github-text {
    text-transform: uppercase;
    font-size: 1.5rem;
}

#footer-box .footer-text {
    font-size: 1.2rem;
    margin-right: 10px;
}

.fa-brands {
    font-size: 1.7rem;
    margin-right: 7px;
}

.question-part {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 150px;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
    overflow:auto;
}

#question-text {
    color: #1A1423;
    font-size: 1.2rem;
    
}
#question-text:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

#footer-box {
    position: absolute;
    left: auto;
    bottom: 10px;
}

.answers-part {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answers-container {
    flex-direction: column;
    width: 39%;
    height: auto;
    border: 2px solid black;
    display: flex;
    overflow: auto;
    color: white;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
}

.answers-container::-webkit-scrollbar {
    width: 12px;
}

.answers-container::-webkit-scrollbar-thumb {
    background-color: rgb(39, 2, 151);
    border-radius: 20px;
    border: 3px solid #f70000;
}

.answer {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    color: whitesmoke ;
}

.answer-selected {
    border: 4px solid black;
}

#a {
    background-color: #ed822a;
}

#a:hover {
    cursor: pointer;
}

#b {
    background-color: #42ee04;
}

#b:hover {
    cursor: pointer;
}

#c {
    background-color: #c90040;
}

#c:hover {
    cursor: pointer;
}

#d {
    background-color: #0c00f7;
}

#d:hover {
    cursor: pointer;
}
.button-part{
    display: flex;
    justify-content: center;
    width: 100%;
}
.button-part #button-container{
    width: 41%;
    display: flex;
    justify-content: end;
}

.fa-check{
    font-size: 32px;
    cursor: pointer;
    margin-top: 7px;
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.fa-brands{
    color: black;
}